:root {
    --primary-color: #FFFFF0;
    --secundary-color: #FF7373;
    --terciary-color: rgba(255,204,121,1);
}

body {
    background-color: #FFFFF0;
    color: black;
    font-family: Dosis;
    margin: 0;
}

html {
    scroll-behavior: smooth; /*descida suave entre os links*/
  }

@media only screen and (min-width: 768px) {
 
}

@media only screen and (min-width: 1000px) {
    
}

/*topbar*/
.header {
    background-color: #f7a1ba;
    padding: 20px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none; 
    color: black;
}

.inicio:hover, .desabafe:hover, .quemsomos:hover, .about:hover {
    background-color: #FF7373;
    border-radius: 20px;
    max-width: 100%;
    transition: background-color 500ms ease-in-out;
}

.navbar_left div, .navbar_right div {
    padding: 8px 25px;
    text-transform: uppercase;
    font-weight: 600;
}

.navbar_left {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
    color: #000
}

.navbar_left, .navbar_right{
    display: flex;
    align-items: center;
}

.navbar_left > * {
    padding: 10px;
}

.navbar_right > * {
    padding: 10px;
}

/*home*/
.homeBg {
    background-image: url("https://images.pexels.com/photos/547115/pexels-photo-547115.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
}

.container {
    padding: 50px;
    display: flex;
    align-items: center;
}

.links-meditation div {
    margin: 15px;
    box-shadow: 0px 0px 10px 0px #f7a1ba;
    padding: 30px;
}

.limpeza-link, .yoga-link, .lofi-link, .asmr-link {
    justify-content: space-around;
    background-color: #FFFFF0;
    border-radius: 12px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
    transition: 200ms;
    text-align: center;
    box-sizing: border-box;
    border: 0;
    font-size: 20px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.limpeza-link:not(:disabled):hover, .yoga-link:not(:disabled):hover, .lofi-link:not(:disabled):hover, .asmr-link:not(:disabled):hover,
.limpeza-link:not(:disabled):hover, .yoga-link:not(:disabled):hover, .lofi-link:not(:disabled):hover, .asmr-link:not(:disabled):focus {
    outline: 0;
    background: #FF7373;
    box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.limpeza-link:disabled, .yoga-link:disabled, .lofi-link:disabled, .asmr-link:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
}

/*home 2*/
.background {
    background-color: #c4aee2;
}

.descricoes {
    border: var(--secundary-color) solid;
    border-radius: 20px;
    box-shadow: 0 0 10px var(--secundary-color);
    background-color: #F9F6EE;
    padding: 25px;
    width: 70%;
    margin: auto;
}

.descricoes a {
    color: var(--secundary-color);
}

.limpeza-descricao div, .yoga-descricao div, .lofi-descricao div, .asmr-descricao div {
    font-size: 20px;
    padding: 15px;
    text-align: justify;
}

.limpeza-descricao h1, .yoga-descricao h1, .lofi-descricao h1, .asmr-descricao h1 {
    align-items: center;
    text-align: center;
}

/*scrollbar*/
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f7a1ba;
}

::-webkit-scrollbar-thumb {
    background-color: #FFFFF0;
    border-radius: 20px;
}

/*footer*/
.push {
    height: 100px;
}

.footer {
    background-color: #c4aee2;
    padding: 20px;
    font-size: 15px;
    bottom: 0;
    width: 100%;
    align-items: center;
    box-sizing: border-box; /*scrollbar lateral*/
}

/*animações*/
.img-meditation {
    animation: fadeIn 1s ease-in,
    pulse 3s ease-in-out 2s infinite normal;
    margin-top: 70px;
}

.limpeza-link{
    animation: flipInY 3.5s ease 1;
}
.yoga-link {
    animation: flipInY 3.7s ease 1;
}
.lofi-link {
    animation: flipInY 3.9s ease 1;
}
.asmr-link {
    animation: flipInY 4.2s ease 1;
}