body {
    background-color: aquamarine;
    color: black;
    box-shadow: 1px 1px 10px black;
    border-radius: 10px;
    font-size: 20px;
}

/*Home*/
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
ul {
    margin: 30px;
    padding: 10px;
    
}
a {
    text-decoration: none;
    color: black
}
div#title {
    flex-direction: column;
    line-height: 10px;
    margin: 30px;
    padding: 10px;
}

/*Como você está se sentindo?*/
div#mood {
    text-align: center;
    margin: auto;
    margin-block-end: 5%;
    margin-top: 10px;
    background-color: white;
    padding: 10px;
    width: 600px;
    height: 225px;
    box-shadow: 1px 1px 10px black;
    border-radius: 100px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}
textarea#mood {
    text-transform: capitalize;
    border-radius: 10px;
    padding: 10px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    line-height: 1.0;
    font-size: 16px;
}
button#send_res{
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
}