:root {
    --primary-color: #fffff0;
    --secundary-color: #FF7373;
}
body {
    background-color: #FFFFF0; /*#FFFFF0 cor para por quando a tela abaixar #FFCC79*/ 
    color: black;
    font-family: Dosis;
}
/*topbar*/
.header {
    border-radius: 20px;
    background-color: #f7a1ba;
    padding: 20px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}
a {
    text-decoration: none; 
    color: black;
}
.inicio:hover, .desabafe:hover, .quemsomos:hover, .about:hover {
    background-color: #FF7373;
    border-radius: 20px;
    max-width: 100%;
    transition: background-color 500ms ease-in-out;
    
}
.navbar_left div, .navbar_right div {
    padding: 8px 25px;
    text-transform: uppercase;
    font-weight: 600;
}
.navbar_left { /*Trocar a fonte??*/
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
    color: #000;
    margin: 5px;
}
.navbar_left, .navbar_right {
    display: flex;
    align-items: center;
}
.navbar_left > * {
    padding: 10px;
}
.navbar_right > * {
    padding: 10px;
}

/*home*/
.ygor {
    padding: 50px;
    text-align: center;
    justify-content: center;
}
.somos {
    text-align: center;
    justify-content: center;
    display: flex;
}
.name {
    font-size: 17px;
    text-transform: uppercase;
}
.description {
    padding: 10px;
}

/*footer*/
.footer {
    background-color: #c4aee2;
    padding: 20px;
    font-size: 17px;
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    align-items: center;
    box-sizing: border-box; /*scrollbar lateral*/
}