:root {
    --primary-color: #FFFFF0;
    --secundary-color: #FF7373;
}
body {
    background-color: #FFFFF0; /*#FFFFF0 cor para por quando a tela abaixar #FFCC79*/ 
    color: black;
    font-family: Dosis;
}
/*topbar*/
.header {
    border-radius: 20px;
    background-color: #f7a1ba;
    padding: 20px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a {
    text-decoration: none; 
    color: black;
}
.inicio:hover,.desabafe:hover,.quemsomos:hover,.about:hover {
    background-color: #FF7373;
    border-radius: 20px;
    max-width: 100%;
    transition: background-color 500ms ease-in-out;
    
}
.navbar_left div, .navbar_right div {
    padding: 8px 25px;
    text-transform: uppercase;
    font-weight: 600;
}
.navbar_left { /*Trocar a fonte??*/
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
    color: #000;
    margin: 5px;
}
.navbar_left, .navbar_right {
    display: flex;
    align-items: center;
}
.navbar_left > * {
    padding: 10px;
}
.navbar_right > * {
    padding: 10px;
}

#about-all {
    margin: auto;
    margin-top: 60px;
    padding: 15px;
    width: 50%;
    background-color: var(--primary-color);
    border: #FF7373 solid;
    border-radius: 20px;
    background-color: #FFFFF0;
}
.sobre{
    font-size: 22px;
    text-align: justify;
}
.credits {
    text-align: center;
}

.footer {
    background-color: #c4aee2;
    padding: 20px;
    font-size: 17px;
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    align-items: center;
    box-sizing: border-box; /*scrollbar lateral*/
}